swagger: "2.0"
info:
  title: "Ministerio de Cooperativas y Mutuales — API Unificada"
  description: >
    API Gateway centralizado para todos los servicios del Ministerio de
    Cooperativas y Mutuales de la Provincia de Córdoba.
    Valida JWT de Google OAuth 2.0, redirige al microservicio correspondiente.
  version: "1.0.0"
host: "ministerio-gateway-3j5k00ma.uc.gateway.dev"
schemes:
  - "https"
produces:
  - "application/json"
consumes:
  - "application/json"

# ---------------------------------------------------------------------------
# Autenticación — Firebase (producción) + Google accounts (tests/Cloud Shell)
# ---------------------------------------------------------------------------
securityDefinitions:
  firebase:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "https://securetoken.google.com/gestorcooperativo"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com"
    x-google-audiences: "gestorcooperativo"
  google_accounts:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "https://accounts.google.com"
    x-google-jwks_uri: "https://www.googleapis.com/oauth2/v3/certs"
    x-google-audiences: "gestorcooperativo"

security:
  - firebase: []
  - google_accounts: []

paths:

  # ---------------------------------------------------------------------------
  # Health check (público)
  # ---------------------------------------------------------------------------
  /health:
    get:
      operationId: healthCheck
      summary: Health check del gateway
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK
    options:
      operationId: corsHealth
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  # ===========================================================================
  # svc-privada — Sistema existente (proyecto: essential-haiku-482815-u4)
  # ===========================================================================

  /api/v1/privada/me:
    get:
      operationId: getUsuarioPrivada
      summary: Usuario actual del sistema de gestiones
      tags: [privada]
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Datos del usuario actual
    options:
      operationId: corsPrivadaMe
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: OK

  /api/v1/privada/gestiones:
    get:
      operationId: listarGestiones
      summary: Listado paginado de gestiones con filtros
      tags: [privada]
      parameters:
        - in: query
          name: estado
          type: string
        - in: query
          name: ministerio
          type: string
        - in: query
          name: categoria
          type: string
        - in: query
          name: tipo_gestion
          type: string
        - in: query
          name: canal_origen
          type: string
        - in: query
          name: departamento
          type: string
        - in: query
          name: localidad
          type: string
        - in: query
          name: q
          type: string
        - in: query
          name: limit
          type: integer
          default: 50
        - in: query
          name: offset
          type: integer
          default: 0
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Lista de gestiones
    post:
      operationId: crearGestion
      summary: Crear nueva gestión
      tags: [privada]
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "201":
          description: Gestión creada
    options:
      operationId: corsPrivadaGestiones
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: OK

  /api/v1/privada/gestiones/{gestion_id}:
    get:
      operationId: getGestion
      summary: Detalle de una gestión
      tags: [privada]
      parameters:
        - in: path
          name: gestion_id
          required: true
          type: string
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Detalle de la gestión
    delete:
      operationId: eliminarGestion
      summary: Borrado lógico de gestión
      tags: [privada]
      parameters:
        - in: path
          name: gestion_id
          required: true
          type: string
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Gestión eliminada
    options:
      operationId: corsPrivadaGestionId
      summary: CORS preflight
      parameters:
        - in: path
          name: gestion_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: OK

  /api/v1/privada/gestiones/{gestion_id}/cambiar-estado:
    post:
      operationId: cambiarEstadoGestion
      summary: Cambiar estado de una gestión
      tags: [privada]
      parameters:
        - in: path
          name: gestion_id
          required: true
          type: string
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Estado cambiado
    options:
      operationId: corsPrivadaCambiarEstado
      summary: CORS preflight
      parameters:
        - in: path
          name: gestion_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: OK

  /api/v1/privada/catalogos/{catalogo}:
    get:
      operationId: getCatalogo
      summary: Obtener catálogo
      tags: [privada]
      parameters:
        - in: path
          name: catalogo
          required: true
          type: string
          enum: [estados, urgencias, ministerios, categorias, tipos-gestion, canales-origen, departamentos, localidades, modulos, geo]
        - in: query
          name: departamento
          type: string
        - in: query
          name: localidad
          type: string
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Catálogo solicitado
    options:
      operationId: corsPrivadaCatalogos
      summary: CORS preflight
      parameters:
        - in: path
          name: catalogo
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: OK

  /api/v1/privada/gestiones/{gestion_id}/eventos:
    get:
      operationId: listarEventosGestion
      summary: Historial de eventos de una gestión
      tags: [privada]
      parameters:
        - in: path
          name: gestion_id
          required: true
          type: string
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Lista de eventos
    options:
      operationId: corsPrivadaGestionEventos
      summary: CORS preflight
      parameters:
        - in: path
          name: gestion_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: OK

  /api/v1/privada/gestiones/resumen-territorial:
    get:
      operationId: resumenTerritorialPrivada
      summary: Resumen por departamento y localidad
      tags: [privada]
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Resumen territorial
    options:
      operationId: corsPrivadaResumenTerritorial
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: OK

  /api/v1/privada/localidades-info:
    get:
      operationId: getLocalidadInfo
      summary: Ficha de información de una localidad
      tags: [privada]
      parameters:
        - in: query
          name: departamento
          required: true
          type: string
        - in: query
          name: localidad
          required: true
          type: string
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Ficha de la localidad
    put:
      operationId: upsertLocalidadInfo
      summary: Actualizar ficha de información de una localidad
      tags: [privada]
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Ficha actualizada
    options:
      operationId: corsPrivadaLocalidadInfo
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: OK

  /api/v1/privada/usuarios:
    get:
      operationId: listarUsuarios
      summary: Lista de usuarios del sistema (Admin)
      tags: [privada]
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Lista de usuarios
    post:
      operationId: crearUsuario
      summary: Crear usuario (Admin)
      tags: [privada]
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Usuario creado
    options:
      operationId: corsPrivadaUsuarios
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: OK

  /api/v1/privada/usuarios/{email}:
    put:
      operationId: actualizarUsuario
      summary: Actualizar usuario (Admin)
      tags: [privada]
      parameters:
        - in: path
          name: email
          required: true
          type: string
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Usuario actualizado
    delete:
      operationId: deshabilitarUsuario
      summary: Deshabilitar usuario (Admin)
      tags: [privada]
      parameters:
        - in: path
          name: email
          required: true
          type: string
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Usuario deshabilitado
    options:
      operationId: corsPrivadaUsuarioEmail
      summary: CORS preflight
      parameters:
        - in: path
          name: email
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: OK

  /api/v1/privada/usuarios/{email}/modulos:
    get:
      operationId: getUsuarioModulos
      summary: Módulos habilitados para un usuario (Admin)
      tags: [privada]
      parameters:
        - in: path
          name: email
          required: true
          type: string
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Lista de módulos
    post:
      operationId: agregarUsuarioModulo
      summary: Habilitar módulo para usuario (Admin)
      tags: [privada]
      parameters:
        - in: path
          name: email
          required: true
          type: string
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "201":
          description: Módulo habilitado
    options:
      operationId: corsPrivadaUsuarioModulos
      summary: CORS preflight
      parameters:
        - in: path
          name: email
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: OK

  /api/v1/privada/usuarios/{email}/modulos/{modulo}:
    delete:
      operationId: quitarUsuarioModulo
      summary: Deshabilitar módulo para usuario (Admin)
      tags: [privada]
      parameters:
        - in: path
          name: email
          required: true
          type: string
        - in: path
          name: modulo
          required: true
          type: string
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: Módulo deshabilitado
    options:
      operationId: corsPrivadaUsuarioModuloId
      summary: CORS preflight
      parameters:
        - in: path
          name: email
          required: true
          type: string
        - in: path
          name: modulo
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://infraestructura-gestioninterna-354063050046.southamerica-east1.run.app"
      responses:
        "200":
          description: OK

  # ===========================================================================
  # svc-vivienda — Secretaría de Vivienda
  # ===========================================================================

  /api/v1/vivienda/programas:
    get:
      operationId: listarProgramasVivienda
      summary: Catálogo de programas habitacionales
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Lista de programas
    options:
      operationId: corsProgramas
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/programas/{programa_id}/estadisticas:
    get:
      operationId: estadisticasPrograma
      summary: Estadísticas de un programa habitacional
      tags: [vivienda]
      parameters:
        - in: path
          name: programa_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Estadísticas del programa
    options:
      operationId: corsProgramaEstadisticas
      summary: CORS preflight
      parameters:
        - in: path
          name: programa_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/beneficiarios:
    get:
      operationId: listarBeneficiariosVivienda
      summary: Listado paginado de beneficiarios
      tags: [vivienda]
      parameters:
        - in: query
          name: q
          type: string
        - in: query
          name: limit
          type: integer
          default: 20
        - in: query
          name: offset
          type: integer
          default: 0
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Lista de beneficiarios
    post:
      operationId: crearBeneficiarioVivienda
      summary: Registrar nuevo beneficiario
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "201":
          description: Beneficiario creado
    options:
      operationId: corsBeneficiarios
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/beneficiarios/buscar:
    get:
      operationId: buscarBeneficiarioPorDni
      summary: Buscar beneficiario por DNI
      tags: [vivienda]
      parameters:
        - in: query
          name: dni
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Beneficiario encontrado
    options:
      operationId: corsBeneficiariosBuscar
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/beneficiarios/{beneficiario_id}:
    get:
      operationId: getBeneficiarioVivienda
      summary: Detalle de beneficiario
      tags: [vivienda]
      parameters:
        - in: path
          name: beneficiario_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Detalle del beneficiario
    patch:
      operationId: actualizarBeneficiarioVivienda
      summary: Actualizar datos de beneficiario
      tags: [vivienda]
      parameters:
        - in: path
          name: beneficiario_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Beneficiario actualizado
    delete:
      operationId: eliminarBeneficiarioVivienda
      summary: Soft delete de beneficiario
      tags: [vivienda]
      parameters:
        - in: path
          name: beneficiario_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Beneficiario eliminado
    options:
      operationId: corsBeneficiarioId
      summary: CORS preflight
      parameters:
        - in: path
          name: beneficiario_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/expedientes:
    get:
      operationId: listarExpedientesVivienda
      summary: Listado paginado de expedientes con filtros
      tags: [vivienda]
      parameters:
        - in: query
          name: estado
          type: string
        - in: query
          name: programa_codigo
          type: string
        - in: query
          name: limit
          type: integer
          default: 20
        - in: query
          name: offset
          type: integer
          default: 0
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Lista de expedientes
    post:
      operationId: crearExpedienteVivienda
      summary: Crear nuevo expediente
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "201":
          description: Expediente creado
    options:
      operationId: corsExpedientes
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/expedientes/{expediente_id}:
    get:
      operationId: getExpedienteVivienda
      summary: Detalle de expediente
      tags: [vivienda]
      parameters:
        - in: path
          name: expediente_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Detalle del expediente
    patch:
      operationId: actualizarExpedienteVivienda
      summary: Actualizar expediente
      tags: [vivienda]
      parameters:
        - in: path
          name: expediente_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Expediente actualizado
    options:
      operationId: corsExpedienteId
      summary: CORS preflight
      parameters:
        - in: path
          name: expediente_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/expedientes/{expediente_id}/transicion:
    post:
      operationId: transicionExpedienteVivienda
      summary: Cambiar estado del expediente
      tags: [vivienda]
      parameters:
        - in: path
          name: expediente_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Estado cambiado
    options:
      operationId: corsExpedienteTransicion
      summary: CORS preflight
      parameters:
        - in: path
          name: expediente_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/expedientes/{expediente_id}/historial:
    get:
      operationId: historialExpedienteVivienda
      summary: Historial de cambios del expediente
      tags: [vivienda]
      parameters:
        - in: path
          name: expediente_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Historial del expediente
    options:
      operationId: corsExpedienteHistorial
      summary: CORS preflight
      parameters:
        - in: path
          name: expediente_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/asignaciones:
    post:
      operationId: crearAsignacionVivienda
      summary: Asignar vivienda o lote a un expediente ASIGNADO
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "201":
          description: Asignación creada
    get:
      operationId: listarAsignacionesVivienda
      summary: Listado de asignaciones
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Lista de asignaciones
    options:
      operationId: corsAsignaciones
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordon-cuneta:
    get:
      operationId: listarMunicipiosCordonCuneta
      summary: Panel completo de Cordón Cuneta
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Panel completo con municipios, estados y presupuesto
    post:
      operationId: crearMunicipioCordonCuneta
      summary: Agregar nuevo municipio al panel de Cordón Cuneta
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "201":
          description: Municipio creado
    options:
      operationId: corsCordonCuneta
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordon-cuneta/estados:
    get:
      operationId: listarEstadosCordonCuneta
      summary: Lista de estados disponibles en Cordón Cuneta
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Lista de estados
    post:
      operationId: crearEstadoCordonCuneta
      summary: Crear nuevo estado en el catálogo de Cordón Cuneta (Supervisor)
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "201":
          description: Estado creado
    options:
      operationId: corsCordonCunetaEstados
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordon-cuneta/estados/{estado_id}:
    patch:
      operationId: actualizarEstadoCordonCuneta
      summary: Actualizar estado del catálogo de Cordón Cuneta (Supervisor)
      tags: [vivienda]
      parameters:
        - in: path
          name: estado_id
          required: true
          type: integer
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Estado actualizado
    delete:
      operationId: eliminarEstadoCordonCuneta
      summary: Eliminar estado del catálogo de Cordón Cuneta (Supervisor)
      tags: [vivienda]
      parameters:
        - in: path
          name: estado_id
          required: true
          type: integer
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "204":
          description: Estado eliminado
    options:
      operationId: corsCordonCunetaEstadoId
      summary: CORS preflight
      parameters:
        - in: path
          name: estado_id
          required: true
          type: integer
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordon-cuneta/geo:
    get:
      operationId: listarGeoCordonCuneta
      summary: Listado de localidades geográficas para Cordón Cuneta
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Lista de localidades geográficas
    options:
      operationId: corsCordonCunetaGeo
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordon-cuneta/{municipio_id}:
    patch:
      operationId: actualizarMunicipioCordonCuneta
      summary: Actualizar estado de un municipio en Cordón Cuneta
      tags: [vivienda]
      parameters:
        - in: path
          name: municipio_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Municipio actualizado
    delete:
      operationId: eliminarMunicipioCordonCuneta
      summary: Soft delete de un municipio (Supervisor)
      tags: [vivienda]
      parameters:
        - in: path
          name: municipio_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "204":
          description: Municipio eliminado
    options:
      operationId: corsCordonCunetaMunicipioId
      summary: CORS preflight
      parameters:
        - in: path
          name: municipio_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordon-cuneta/{municipio_id}/historial:
    get:
      operationId: historialMunicipioCordonCuneta
      summary: Historial de cambios de estado de un municipio
      tags: [vivienda]
      parameters:
        - in: path
          name: municipio_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Historial de estados
    options:
      operationId: corsCordonCunetaHistorial
      summary: CORS preflight
      parameters:
        - in: path
          name: municipio_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordon-cuneta/{municipio_id}/pedidos:
    get:
      operationId: listarPedidosMunicipio
      summary: Historial de comunicaciones de un municipio
      tags: [vivienda]
      parameters:
        - in: path
          name: municipio_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Lista de pedidos/comunicaciones
    post:
      operationId: crearPedidoMunicipio
      summary: Registrar nueva comunicación con un municipio
      tags: [vivienda]
      parameters:
        - in: path
          name: municipio_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "201":
          description: Pedido registrado
    options:
      operationId: corsCordonCunetaPedidos
      summary: CORS preflight
      parameters:
        - in: path
          name: municipio_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordon-cuneta/{municipio_id}/pedidos/{pedido_id}:
    delete:
      operationId: eliminarPedidoMunicipio
      summary: Eliminar una comunicación del historial de un municipio
      tags: [vivienda]
      parameters:
        - in: path
          name: municipio_id
          required: true
          type: string
        - in: path
          name: pedido_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "204":
          description: Pedido eliminado
    options:
      operationId: corsCordonCunetaPedidoId
      summary: CORS preflight
      parameters:
        - in: path
          name: municipio_id
          required: true
          type: string
        - in: path
          name: pedido_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordon-cuneta-config/presupuesto:
    patch:
      operationId: actualizarPresupuestoCordonCuneta
      summary: Actualizar crédito presupuestario del programa
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Presupuesto actualizado
    options:
      operationId: corsCordonCunetaPresupuesto
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  # ===========================================================================
  # svc-vivienda — Córdoba Hogar
  # ===========================================================================

  /api/v1/vivienda/cordoba-hogar:
    get:
      operationId: listarLocalidadesCordobaHogar
      summary: Panel completo de Córdoba Hogar
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Panel completo con localidades, estados y presupuesto
    post:
      operationId: crearLocalidadCordobaHogar
      summary: Agregar nueva localidad al panel de Córdoba Hogar
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "201":
          description: Localidad creada
    options:
      operationId: corsCordobaHogar
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordoba-hogar/estados:
    get:
      operationId: listarEstadosCordobaHogar
      summary: Lista de estados disponibles en Córdoba Hogar
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Lista de estados
    post:
      operationId: crearEstadoCordobaHogar
      summary: Crear nuevo estado en el catálogo de Córdoba Hogar (Supervisor)
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "201":
          description: Estado creado
    options:
      operationId: corsCordobaHogarEstados
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordoba-hogar/estados/{estado_id}:
    patch:
      operationId: actualizarEstadoCordobaHogar
      summary: Actualizar estado del catálogo de Córdoba Hogar (Supervisor)
      tags: [vivienda]
      parameters:
        - in: path
          name: estado_id
          required: true
          type: integer
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Estado actualizado
    delete:
      operationId: eliminarEstadoCordobaHogar
      summary: Eliminar estado del catálogo de Córdoba Hogar (Supervisor)
      tags: [vivienda]
      parameters:
        - in: path
          name: estado_id
          required: true
          type: integer
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "204":
          description: Estado eliminado
    options:
      operationId: corsCordobaHogarEstadoId
      summary: CORS preflight
      parameters:
        - in: path
          name: estado_id
          required: true
          type: integer
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordoba-hogar/geo:
    get:
      operationId: listarGeoCordobaHogar
      summary: Listado de localidades geográficas para Córdoba Hogar
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Lista de localidades geográficas
    options:
      operationId: corsCordobaHogarGeo
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordoba-hogar/{localidad_id}:
    patch:
      operationId: actualizarLocalidadCordobaHogar
      summary: Actualizar estado de una localidad en Córdoba Hogar
      tags: [vivienda]
      parameters:
        - in: path
          name: localidad_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Localidad actualizada
    delete:
      operationId: eliminarLocalidadCordobaHogar
      summary: Soft delete de una localidad (Supervisor)
      tags: [vivienda]
      parameters:
        - in: path
          name: localidad_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "204":
          description: Localidad eliminada
    options:
      operationId: corsCordobaHogarLocalidadId
      summary: CORS preflight
      parameters:
        - in: path
          name: localidad_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordoba-hogar/{localidad_id}/historial:
    get:
      operationId: historialLocalidadCordobaHogar
      summary: Historial de cambios de estado de una localidad
      tags: [vivienda]
      parameters:
        - in: path
          name: localidad_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Historial de estados
    options:
      operationId: corsCordobaHogarHistorial
      summary: CORS preflight
      parameters:
        - in: path
          name: localidad_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordoba-hogar/{localidad_id}/pedidos:
    get:
      operationId: listarPedidosLocalidad
      summary: Historial de comunicaciones de una localidad
      tags: [vivienda]
      parameters:
        - in: path
          name: localidad_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Lista de pedidos/comunicaciones
    post:
      operationId: crearPedidoLocalidad
      summary: Registrar nueva comunicación con una localidad
      tags: [vivienda]
      parameters:
        - in: path
          name: localidad_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "201":
          description: Pedido registrado
    options:
      operationId: corsCordobaHogarPedidos
      summary: CORS preflight
      parameters:
        - in: path
          name: localidad_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordoba-hogar/{localidad_id}/pedidos/{pedido_id}:
    delete:
      operationId: eliminarPedidoLocalidad
      summary: Eliminar una comunicación del historial de una localidad
      tags: [vivienda]
      parameters:
        - in: path
          name: localidad_id
          required: true
          type: string
        - in: path
          name: pedido_id
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "204":
          description: Pedido eliminado
    options:
      operationId: corsCordobaHogarPedidoId
      summary: CORS preflight
      parameters:
        - in: path
          name: localidad_id
          required: true
          type: string
        - in: path
          name: pedido_id
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/vivienda/cordoba-hogar-config/presupuesto:
    patch:
      operationId: actualizarPresupuestoCordobaHogar
      summary: Actualizar crédito presupuestario del programa Córdoba Hogar
      tags: [vivienda]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Presupuesto actualizado
    options:
      operationId: corsCordobaHogarPresupuesto
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  # ===========================================================================
  # portal — Gestión de usuarios y permisos (svc-vivienda)
  # ===========================================================================

  /api/v1/portal/me:
    get:
      operationId: getPortalMe
      summary: Perfil del usuario actual (rol + secretarías)
      tags: [portal]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Perfil del usuario
        "403":
          description: Usuario no registrado en el sistema
    options:
      operationId: corsPortalMe
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/portal/admin/usuarios:
    get:
      operationId: listarPortalUsuarios
      summary: Lista todos los usuarios del portal (Admin)
      tags: [portal]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Lista de usuarios
    post:
      operationId: crearPortalUsuario
      summary: Crear usuario del portal (Admin)
      tags: [portal]
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "201":
          description: Usuario creado
    options:
      operationId: corsPortalAdminUsuarios
      summary: CORS preflight
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  /api/v1/portal/admin/usuarios/{email}:
    get:
      operationId: getPortalUsuario
      summary: Detalle de usuario del portal (Admin)
      tags: [portal]
      parameters:
        - in: path
          name: email
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Detalle del usuario
    put:
      operationId: actualizarPortalUsuario
      summary: Actualizar usuario del portal (Admin)
      tags: [portal]
      parameters:
        - in: path
          name: email
          required: true
          type: string
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: Usuario actualizado
    options:
      operationId: corsPortalAdminUsuarioEmail
      summary: CORS preflight
      parameters:
        - in: path
          name: email
          required: true
          type: string
      security: []
      x-google-backend:
        address: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
        path_translation: APPEND_PATH_TO_ADDRESS
        jwt_audience: "https://svc-vivienda-iwni7vc2qq-rj.a.run.app"
      responses:
        "200":
          description: OK

  # ===========================================================================
  # Servicios futuros
  # ===========================================================================
  # svc-infraestructura: /api/v1/infraestructura/*
  # svc-territorial:     /api/v1/territorial/*
  # svc-gasifera:        /api/v1/gasifera/*
  # svc-desarrollo:      /api/v1/desarrollo/*
